<!-- Error Page -->
<section class="error-page">
    <div class="table">
        <div class="table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 col-12">
                        <!-- Error Inner -->
                        <div class="error-inner">
                            <h2>
                                <%= errorCode %>
                            </h2>
                            <h5>
                                <%= errorMessage %>
                            </h5>
                            <p>
                                <%= errorDescription %>
                            </p>
                            <div class="button">
                                <a href="/" class="btn">Go Homepage</a>
                            </div>
                        </div>
                        <!--/ End Error Inner -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Error Page -->